1 VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  1,0,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "CompanyName", "Jonathan Wu"
      VALUE "FileDescription", "DungeonEscape Launcher"
      VALUE "LegalCopyright", "Jonathan Wu, 2021-2022. All rights reserved."
      VALUE "ProductName", "DungeonEscape Launcher"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x409, 1252
  END
END
